.venv/
.venv.win/
.env
.env.*
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/
.pyre/
.tox/
.coverage
coverage.xml
.DS_Store
Thumbs.db
build/
dist/
.ipynb_checkpoints/
qutip_coeffs_*/
*.log
*.aux
*.fdb_latexmk
*.fls
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdv
